<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="twitter" class="log4twitter.log4j.TwitterAppender" >
        <param name="id" value="twit4j"/>
        <param name="password" value="twitter4j"/>
        <param name="async" value="false"/>
        <!--param name="subscribers" value="yusukey"/-->
        <param name="retryCount" value="5"/>
        <param name="retryIntervalSecs" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="twitter"/>
    </root>
</log4j:configuration>
